html,
body {
    height: 100%;
}

.main {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 800px;
    max-width: 800px;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
}

.base {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: green;
    -webkit-box-shadow: 9px 11px 3px -10px #104421;
    box-shadow: 9px 11px 3px -10px #104421;

}

.face {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    height: 140px;
    position: relative;
}

.eyes {
    margin-left: 15%;
    margin-top: 25%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.twigs {
    position: absolute;
    width: 20px;
    height: 10px;
    border: solid 5px green;
    border-color: green transparent transparent transparent;
    border-radius: 50%/12px 10px 0 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.one {
    left: 20%;
    top: -10%;
}

.one .circ {
    top: -45%;
    left: -5%;

}

.two {
    left: 40%;
    top: -10%;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.two .circ {
    top: -4px;
    right: -12%;
}

.circ {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
}

.pupil {
    margin-left: 15%;
    margin-top: 25%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    -webkit-animation: move 0.8s ease-in-out infinite;
    animation: move 0.8s ease-in-out infinite;
}

@-webkit-keyframes move {
    from {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes move {
    from {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.smile {

    margin-left: 16%;
    margin-top: 20%;
    /* align-content: center; */
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: absolute;
    width: 60px;
    height: 15px;
    border: solid 3px black;
    border-color: black transparent transparent transparent;
    border-radius: 50%/16px 16px 0 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

.curve1 {
    position: absolute;
    left: 11%;
    top: 5%;
    -webkit-animation: move 0.8s ease-in-out infinite;
    animation: move 0.8s ease-in-out infinite;
}

.curve2 {
    position: absolute;
    left: 20%;
    top: 10%;

}

.curve3 {
    position: absolute;
    left: 30%;
    top: 15%;
    -webkit-animation: move 0.8s ease-in-out infinite;
    animation: move 0.8s ease-in-out infinite;
}

.curve4 {
    position: absolute;
    left: 40%;
    top: 10%;
}

.curve5 {
    position: absolute;
    left: 50%;
    top: 5%;
    -webkit-animation: move 0.8s ease-in-out infinite;
    animation: move 0.8s ease-in-out infinite;
}